[submodule "jolt_wallet"]
	path = jolt_wallet
	url = git@github.com:joltwallet/jolt_wallet.git
[submodule "components/nano_lib"]
	path = components/nano_lib
	url = git@github.com:joltwallet/nano_lib.git
[submodule "components/nano_parse"]
	path = components/nano_parse
	url = git@github.com:joltwallet/nano_parse.git
[submodule "elf2jelf"]
	path = elf2jelf
	url = https://github.com/joltwallet/elf2jelf.git
